<div class="row col-12">
  <app-title class="m-auto col-10" title="{{productType}}">
  </app-title>
  <div class="m-auto col-2">
    <button (click)="openCreatePopup()" class="btn btn-primary btn-block m-50">Create</button>
  </div>
</div>
<section class="content" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-body">

            <!--datatable-->
            <!--
            <table *ngIf="displayTable" id="table" datatable [dtOptions]="dtOptions" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>ImagePath</th>
                  <th>isConfirmed</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td>{{product.name}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.imagePath}}</td>
                  <td>{{product.isActive}}</td>
                </tr>
              </tbody>
            </table>
            -->
            <!--material-->

            <mat-paginator [pageSize]="pageSizes[0]" [pageSizeOptions]="pageSizes" [length]="totalRecords"
             showFirstLastButtons="">
            </mat-paginator>

            <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped" style="overflow-y: auto;">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="width: 20%;">Name</th>
                <th mat-cell *matCellDef="let element">{{element.name}}</th>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef style="width: 40%;">Description</th>
                <th mat-cell *matCellDef="let element">{{element.description}}</th>
              </ng-container>
              <ng-container matColumnDef="imagePath">
                <th mat-header-cell *matHeaderCellDef style="width: 150px;">Image</th>
                <th mat-cell *matCellDef="let element" style=" height: 150px;">
                  <img
                    [src]="element.imagePath ? (defaultImageUrl + '/' + element.imagePath) : ('assets/img/' + productType + '.png')"
                    alt="{{productType}}"
                    class="img-fluid"
                    style="width: 150px; height: 150px;"
                  >                
                </th>
              </ng-container>
              <ng-container matColumnDef="sizes">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;">Sizes</th>
                <th mat-cell *matCellDef="let element">
                  <span *ngFor="let size of element.sizes; let isLast=last">
                    {{ size.name }}{{ isLast ? '' : ', ' }}
                  </span>
                </th>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;"></th>
                <th mat-cell *matCellDef="let element">
                  <button (click)="openEditPopup(element.id)" class="btn btn-primary btn-block">Edit</button>
                  <button *ngIf="element.isActive" (click)="delete(element.id)" class="btn btn-danger btn-block">Delete</button>
                </th>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>

            <div id="placeholder"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
"node_modules/@angular/material/prebuilt-themes/indigo-pink.css"
-->      