<div style="overflow-y: auto; height: 100%; padding: 20px;">
  <app-title title="{{ productType }}"></app-title>

  <form [formGroup]="form">
    <!-- Name Field -->
    <div class="" style="height: 76px;">
      <div class="col-3">Name:</div>
      <input type="text" class="form-control" placeholder="Name" formControlName="Name" required>
      <div class="row">
        <mat-error *ngIf="form.get('Name')?.hasError('required') && form.get('Name')?.dirty">
          Name is required.
        </mat-error>
        <mat-error *ngIf="form.get('Name')?.hasError('Name') && form.get('Name')?.dirty">
          Name is invalid.
        </mat-error>
        <mat-error *ngIf="form.get('Name')?.hasError('serverError') && form.get('Name')?.dirty">
          {{ form.get('Name')?.getError('serverError')[0] }}
        </mat-error>
      </div>
    </div>

    <!-- Description Field -->
    <div class="" style="height: 76px;">
      <div class="col-3">Description:</div>
      <input type="text" class="form-control" placeholder="Description" formControlName="Description" required>
      <div class="row">
        <mat-error *ngIf="form.get('Description')?.hasError('required') && form.get('Description')?.dirty">
          Description is required.
        </mat-error>
        <mat-error *ngIf="form.get('Description')?.hasError('Description') && form.get('Description')?.dirty">
          Description is invalid.
        </mat-error>
        <mat-error *ngIf="form.get('Description')?.hasError('serverError') && form.get('Description')?.dirty">
          {{ form.get('Description')?.getError('serverError')[0] }}
        </mat-error>
      </div>
    </div>

    <!-- Active and Image Upload Fields -->
    <div class="row">
      <!-- <div class="col-3 input-group mb-3">Active: 
        <input type="checkbox" formControlName="IsActive">
      </div> -->
      <div class="col-9 input-group mb-3">Image: 
        <input type="file" name="photo" accept="image/*" (change)="onFileSelected($event)">
      </div>
    </div>

    <!-- Image Preview -->
    <div class="row">
      <div class="col-12">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Product Image" style="max-width: 100%; max-height: 200px; margin-top: 10px;">
      </div>
    </div>

    <!-- Sizes Field -->
    <label>Sizes:</label>
    <button class="btn btn-primary" (click)="addSizeFormGroup()">Add size</button>

    <div formArrayName="Sizes" style="overflow-y: hidden; overflow-x: hidden; height: auto;">
      <div *ngFor="let size of sizes.controls; let i = index" [formGroupName]="i" style="height: 75px;">
        <div class="row">
          <div class="col-3">Name:</div>
          <div class="col-3">Description:</div>
          <div class="col-3">Price:</div>
          <div class="col-3"></div>
        </div>
        <div class="row">
          <div class="col-3">
            <input matInput type="text" formControlName="Name" class="form-control" placeholder="Name"/>
            <mat-error *ngIf="size.get('Name')?.hasError('required') && size.get('Name')?.dirty">
              Name is required.
            </mat-error>
            <mat-error *ngIf="size.get('Name')?.hasError('serverError') && size.get('Name')?.dirty">
              {{ size.get('Name')?.getError('serverError')[0] }}
            </mat-error>
          </div>
          <div class="col-3">
            <input type="text" formControlName="Description" class="form-control" placeholder="Description"/>
            <mat-error *ngIf="size.get('Description')?.hasError('required') && size.get('Description')?.dirty">
              Description is required.
            </mat-error>
            <mat-error *ngIf="size.get('Description')?.hasError('serverError') && size.get('Description')?.dirty">
              {{ size.get('Description')?.getError('serverError')[0] }}
            </mat-error>
          </div>
          <div class="col-3">
            <input type="number" formControlName="Price" class="form-control" placeholder="Price"/>
          </div>
          <div class="col-3">
            <button (click)="removeSizeFormGroup(i)" [disabled]="sizes.length < 2" class="btn btn-danger btn-block">Delete size</button>
          </div>
        </div>
        <br />
      </div>
    </div>

    <!-- Save and Cancel Buttons -->
    <br/>
    <div class="form-group" style="height: 20px;">
      <button (click)="save()" class="btn btn-success">Save</button> 
      <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>
